body {
  font-family: "Poppins", Arial, sans-serif;
  /* background: #004060; */
  /*background: #000;*/
  background: white;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  /*background: url(../img/bg_image.jpg) no-repeat fixed;*/
  background-size: cover;
}
body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

p {
  color: #fff;
}
span {
  color: #bfbfbf;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0592cc;
}
a:hover,
a:active,
a:focus {
  color: #0592cc;
  outline: none !important;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", Arial, sans-serif;
}

@media (max-width: 991px) {
  #section-navbar .container .navbar-brand img {
    width: 90%;
    height: 90%;
  }
}

.text-primary {
  color: #0592cc !important;
}
.section-navbar-light {
  background: white !important;
  z-index: 3;
}
.section-navbar-costum1 {
  background: #b34532 !important;
  z-index: 3;
}
.section-navbar-costum2 {
  background: white !important;
  z-index: 3;
  display: block;
  text-align: center;
}
.section-navbar-costum-commander1 {
  background: white;
  z-index: 3;
  display: block;
  text-align: center;
}
.section-navbar-costum-commander2 {
  background: white;
  z-index: 3;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.section-navbar-costum2 .form-group{
  margin: 2px;
  border: 0;
  display: inline-block;
}
.section-navbar-costum2 input {
  margin: 2px;
  border-radius: 20px !important;
  background: #feba11;
  color: white!important;
  border: none !important;
  font-weight: bold;
}
.section-navbar-costum2 input::placeholder{
  color: white!important;
  opacity: 1; /* Firefox */
}
.section-navbar-costum2 .form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}



.section-navbar-costum-commander2 input {
  margin: 2px;
  border-radius: 20px !important;
  background: white;
  color: white!important;
  border: none !important;
  font-weight: bold;
}
.section-navbar-costum-commander2 input::placeholder{
  color: white!important;
  opacity: 1; /* Firefox */
}
.section-navbar-costum-commander2 .form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.section-navbar-costum2 .form-group select{
   width: 130px;
   height: calc(1.5em + .75rem + 2px) !important;
   border-radius: 20px;
   background: #feba11;
   color: white;
   border: none !important;
   font-weight: bold;
   padding-right: 10px;
   padding-left: 8px;
 }

.section-navbar-costum2
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  border: none !important;
}
.section-navbar-costum3 {
  background: #3a383a !important;
  z-index: 3;
  display: block;
  text-align: center;
  line-height: 1;
}
.section-navbar-costum-reservation3 {
  background: #3a383a !important;
  z-index: 3;
  display: block;
  text-align: center;
  line-height: 3;
}
.section-navbar-costum-reservation3 .secondary{
  color:#feba11;
  font-size: 1.5em;
}
.section-navbar-costum3 .primary{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.section-navbar-costum3 .secondary{
  color:#feba11;
  font-size: 1.2em;
  font-style: italic;
}

@media (max-width: 991.98px) {
  .section-navbar-light {
    background: white !important;
    position: relative;
  }
}
.section-navbar-light .navbar-brand {
  color: #202d4b !important;
  font-family: "Josefin Sans", Arial, sans-serif;
}
@media (min-width: 768px) {
  .section-navbar-light .navbar-brand {
    color: #202d4b!important;
    font-weight: bold;
  }
}
.section-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 0;
  padding-right: 0;
  color: #202d4b;
  font-weight: 400;
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .section-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 29px;
    padding-right: 20px;
    color: #202d4b;
    font-weight: bold;
  }
}
.section-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #202d4b !important;
}
.section-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #202d4b;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}
.section-navbar-light .navbar-nav > .nav-item.section-seperator {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}
@media (max-width: 991.98px) {
  .section-navbar-light .navbar-nav > .nav-item.section-seperator {
    padding-left: 0;
    margin-left: 0;
  }
}
.section-navbar-light .navbar-nav > .nav-item.section-seperator:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.05);
}
@media (max-width: 991.98px) {
  .section-navbar-light .navbar-nav > .nav-item.section-seperator:before {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .section-navbar-light .navbar-nav > .nav-item.cta {
    margin-bottom: 20px;
  }
}
.section-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  border: 1px solid #202d4b;
  background: #202d4b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 4px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.section-navbar-light .navbar-nav > .nav-item.cta > a span {
  display: inline-block;
  color: #202d4b;
}
.section-navbar-light .navbar-nav > .nav-item.cta > a:hover {
  background: #202d4b;
  border: 1px solid #202d4b;
}
.section-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
  border-color: #202d4b;
}
.section-navbar-light .navbar-nav > .nav-item.active > a {
  color: #202d4b;
}
.section-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.8) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.section-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: white !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.section-navbar-light.scrolled .nav-item > .nav-link {
  color: #202d4b !important;
}
.section-navbar-light.scrolled .nav-item.active > a {
  color: #202d4b !important;
}
.section-navbar-light.scrolled .nav-item.cta > a {
  color: #202d4b !important;
  background: white;
  border: none !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 6px !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.section-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #202d4b !important;
}
.section-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: white;
}
@media (max-width: 991.98px) {
  .section-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
@media (max-width: 767.98px) {
  .section-navbar-light.scrolled .navbar-nav {
    background: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.section-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.8) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.section-navbar-light.scrolled .nav-link {
  padding-top: 0.9rem !important;
  padding-bottom: 0.9rem !important;
  color: #000 !important;
}
.section-navbar-light.scrolled .nav-link.active {
  color: white !important;
}
.section-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.section-navbar-light.scrolled.sleep {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.section-navbar-light.scrolled .navbar-brand {
  color: #fff;
}

.navbar-brand {
  font-size: 24px;
  line-height: 1;
  padding-top: unset;
  padding-bottom: unset;
}
.navbar-brand span {
  font-size: 24px;
  color: #0592cc;
}
.navbar-brand small {
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  text-align: center;
  color: #0592cc;
  letter-spacing: 4px;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  color: #0592cc !important;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0;
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}
.owl-carousel:hover .owl-nav .owl-prev {
  /*left: -25px;*/
}
.owl-carousel:hover .owl-nav .owl-next {
  /*right: -25px;*/
}
.owl-carousel.home-slider {
  position: relative;
 /* height: 737px;*/
  z-index: 0;
}
.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 760px;
  position: relative;
  z-index: 0;
  border-radius: 15px;
}
.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}
.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: 750px;
  text-align: right;
}
@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .order-md-last {
    text-align: left !important;
  }
}
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
  /* font-family: "Nothing You Could Do", cursive; */
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 30px;
  color: white;
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 1px;
}
.owl-carousel.home-slider .slider-item .slider-text h1 strong {
  color: #fff;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 50px;
}
@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 30px;
  }
}
.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}
.owl-carousel.home-slider .slider-item .slider-text p.sub-p {
  font-weight: 400;
}
.owl-carousel.home-slider .slider-item .slider-text p strong {
  font-weight: 700;
}
.owl-carousel.home-slider .slider-item .slider-text p strong a {
  color: #fff;
}
.owl-carousel.home-slider .slider-item .slider-text .unstyled-list {
  width: 50%;
  padding: 0;
}
.owl-carousel.home-slider .slider-item .slider-text .unstyled-list li {
  list-style: none;
}
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
  color: #fff;
}
.owl-carousel.home-slider .slider-item.bread-item {
  height: 500px !important;
}
@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item.bread-item {
    background-position: center center !important;
  }
}
.owl-carousel.home-slider .slider-item.bread-item .slider-text {
  height: 500px;
}
.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #fff;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  opacity: 1;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
@media (max-width: 767.98px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px;
  }
}
.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 18px !important;
  height: 18px !important;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: inline-block;
}
.owl-carousel.home-slider .owl-dots .owl-dot span {
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50% !important;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}
.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}
.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.bg-light {
  background: #fafafa !important;
}

.bg-primary {
  background: #0592cc;
}

.btn {
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #004060;
  border: 1px solid #004060;
  border-radius: 30px;
}
.btn.btn-primary:hover {
  border: 1px solid #0592cc;
  background: transparent !important;
  color: #0592cc;
  font-weight: bold;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #0592cc;
  background: transparent;
  color: #004060;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #004060;
  color: #fff;
}
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  border-radius: 30px;
}
.btn.btn-white:hover {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}
.btn.btn-white.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.8);
  background: none;
  border-width: 1px;
  color: #fff;
}
.btn.btn-white.btn-outline-white:hover,
.btn.btn-white.btn-outline-white:focus,
.btn.btn-white.btn-outline-white:active {
  background: #004060;
  border-color: #004060;
}
.btn.btn-outline-black {
  border-color: black;
  background: none;
  border-width: 1px;
  color: #000;
}
.btn.btn-outline-black:hover,
.btn.btn-outline-black:focus,
.btn.btn-outline-black:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

.section-intro .wrap {
  width: 100%;
  padding: 30px;
  background: #004060 !important;
}
.section-intro .wrap .info {
  width: 100%;
}
@media (min-width: 1200px) {
  .section-intro .wrap {
    padding: 2% 5% 2% 12%;
  }
}
.section-intro .wrap .info p {
  margin-bottom: 0;
}
.section-intro .wrap .social {
  width: 35%;
  background: #004060;
  /* background-image: url(/res/assets/img/background-about.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 767.98px) {
  .section-intro .wrap .social {
    width: 100%;
  }
}
.section-intro .wrap .social .social-icon {
  margin: 0;
  padding: 0;
}
.section-intro .wrap .social .social-icon li {
  list-style: none;
  display: inline-block;
  line-height: 0;
  padding: 0 10px;
}
.section-intro .wrap .social .social-icon li a {
  display: block;
  margin: 0;
  padding: 0;
}
.section-intro .wrap .social .social-icon li a span {
  color: #fff;
  font-size: 20px;
}
.section-intro .wrap h3 {
  font-size: 16px;
}
.section-intro .wrap .text {
  width: calc(100% - 40px);
}
.section-intro .wrap .icon {
  width: 40px;
}
.section-intro .wrap .icon span {
  color: #0592cc;
  font-size: 20px;
}

.section-about p {
  color: grey;
}
.section-about .one-half {
  width: 100%;
  padding: 30px 15px;
  background-color: #000;
}
@media (min-width: 768px) {
  .section-about .one-half {
    padding: 5%;
    width: 50%;
  }
}
.section-about .one-half.img {
  display: block;
  filter: contrast(1.1);
}
@media (max-width: 767.98px) {
  .section-about .one-half.img {
    height: 300px;
  }
}

.services .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.services .icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #9a0b03;
  z-index: -1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services .icon span {
  font-size: 60px;
  color: #5c3d03;
  z-index: 1;
}

.services h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
  text-transform: uppercase;
}

.services .media-body {
  color: #5c3d03;
}

.services:hover .icon span {
  color: #fff;
}

.services:hover .icon:after {
  border: none;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #f8b500;
}

.services-wrap {
  width: 100%;
  display: block;
}
@media (max-width: 991.98px) {
  .services-wrap {
    margin-bottom: 30px;
  }
}
.services-wrap .img,
.services-wrap .text {
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.services-wrap .img {
  display: block;
}
.services-wrap .text {
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}
.services-wrap .text h3 {
  font-size: 20px;
}
.services-wrap .text .price {
  font-size: 16px;
  margin-bottom: 0;
}
.services-wrap .text .price span {
  color: #0592cc;
}

.section-gallery {
  padding-top: 7em;
}

.gallery {
  display: block;
  height: 300px;
  position: relative;
}
.gallery .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  z-index: 0;
  opacity: 0;
  position: relative;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.gallery .icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  content: "";
  background: #0592cc;
  z-index: -1;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.gallery .icon span {
  color: #fff;
}
.gallery:hover .icon,
.gallery:focus .icon {
  opacity: 1;
}
.gallery:hover .icon:after,
.gallery:focus .icon:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.pricing-entry {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.pricing-entry .img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.pricing-entry .desc {
  width: calc(100% - 60px);
}
.pricing-entry .desc p {
  margin-bottom: 0;
}
.pricing-entry .text {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
}
.pricing-entry .text:after {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #9a0b03;
  z-index: -1;
}
.pricing-entry .text h3 {
  width: calc(100% - 80px);
  font-size: 18px;
}
.pricing-entry .text h3 span {
  background: #004060;
  background: url(../img/bg_image.jpg) no-repeat fixed;
  padding-right: 20px;
}
.pricing-entry .text .price {
  width: 80px;
  color: #0592cc;
  text-align: right;
  background: #004060;
  background: url(../img/bg_image.jpg) no-repeat fixed;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .section-menu .f-menu-img {
    height: 300px;
  }
}

.menu-wrap .menu-img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  /* -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; */
}
.menu-wrap .text {
  /*background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;*/
}

.menu-wrap .text h3 {
  font-size: 22px;
}
.menu-wrap .text h3 a {
  color: #fff;
}

.menu-wrap .text .price {
  font-size: 16px;
  font-weight: 400;
}
.menu-wrap .text .price span {
  color: #feba11;
  font-weight: bold;
}

.section-appointment {
  width: 100%;
  position: relative;
  background: #000;
}
.section-appointment .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0592cc;
  opacity: 0;
}

.appointment {
  padding: 20px !important;
}
@media (min-width: 768px) {
  .appointment {
    /*padding: 7% 12% 7% 5% !important;*/
  }
}
.appointment h3 {
  color: #fff;
}

.appointment-form .form-group {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 0;
}
.appointment-form .form-group .icon {
  position: absolute;
  top: 50% !important;
  right: 0;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.appointment-form .form-group .icon span {
  color: white !important;
}
.appointment-form .form-group .select-wrap,
.appointment-form .form-group .input-wrap {
  position: relative;
}
.appointment-form .form-group .select-wrap select,
.appointment-form .form-group .input-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.appointment-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.appointment-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.9);
}
.appointment-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
}
.appointment-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.9);
}
.appointment-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
}
.appointment-form .form-control:focus,
.appointment-form .form-control:active {
  border-color: #fff;
}

.appointment-form textarea.form-control {
  height: inherit !important;
}

.section-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 2px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.section-social a span {
  color: #0592cc;
}

.form-control:focus,
.form-control:active {
  border-color: #0592cc;
}

textarea.form-control {
  height: inherit !important;
}

.section-vh-100 {
  height: 100vh;
}
@media (max-width: 1199.98px) {
  .section-vh-100 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.section-vh-75 {
  height: 75vh;
  min-height: 700px;
}
@media (max-width: 1199.98px) {
  .section-vh-75 {
    min-height: 700px;
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.section-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important;
}
@media (max-width: 767.98px) {
  .section-tab-nav {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}
.section-tab-nav li {
  padding: 0;
  margin: 0 5px;
  display: inline-block !important;
}
@media (max-width: 767.98px) {
  .section-tab-nav li {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}
.section-tab-nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 0 !important;
}
.section-tab-nav li a.active {
  background: none !important;
  color: black !important;
  border: 2px solid #000;
}

.section-animate {
  opacity: 0;
  visibility: hidden;
}

.section-animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bg-primary {
  background: #0592cc !important;
}

.section-pd-relative {
  /*padding: 7em 0 0;*/
  position: relative;
}

@media (max-width: 767.98px) {
  .section-pd-relative {
    padding: 6em 0 0;
  }
}

.section-bg-dark {
  background: #000;
}

.section-footer .r1{
  font-size: 13px;
  background: white;
  line-height: 1.5;
  font-weight: 400;
  padding: 5px;
}
.section-footer .r2{
  font-size: 14px;
  background: black;
  padding: 5px;
}
.section-footer .r1 span,.r2 span {
  color: white;
}
.section-footer .r2 .r3 span {
  color: #bfbfbf;
  font-size: 21px;
}

#map {
  width: 100%;
}
@media (max-width: 767.98px) {
  #map {
    height: 300px;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.heading-section .subheading {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.heading-section h2 {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}
.heading-section h2 span {
  color: #0592cc;
}

.heading-section p.flip {
  position: relative;
  display: block;
  width: 100%;
}
.heading-section p.flip:after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: #0592cc;
  margin: 0 auto;
}
.heading-section p.flip:before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: #0592cc;
  margin: 0 auto;
}
.heading-section p.flip span {
  position: absolute;
}
.heading-section p.flip span.deg1 {
  position: absolute;
  bottom: 2px;
  left: -30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: "";
  background: #0592cc;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}
.heading-section p.flip span.deg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  content: "";
  background: #0592cc;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}
.heading-section p.flip span.deg3 {
  position: absolute;
  bottom: 2px;
  left: 30px;
  right: 0;
  width: 6px;
  height: 6px;
  content: "";
  background: #0592cc;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 0 auto;
}

.heading-section-dark h2 {
  color: #000;
}

.heading-section-dark p.flip {
  position: relative;
  display: block;
  width: 100%;
}
.heading-section-dark p.flip:after {
  position: absolute;
  bottom: 4px;
  left: -100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: #0592cc;
  margin: 0 auto;
}
.heading-section-dark p.flip:before {
  position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
  content: "";
  width: 40px;
  height: 1px;
  background: #0592cc;
  margin: 0 auto;
}

.hero-wrap,
.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .img-about {
    height: 400px;
    margin-bottom: 30px;
  }
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#section-counter {
  position: relative;
  z-index: 0;
}
#section-counter .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.8;
}

.section-counter {
  padding: 7em 0;
}
@media (max-width: 1199.98px) {
  .section-counter {
    background-position: center center !important;
  }
}
.section-counter .icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  z-index: 0;
}
.section-counter .icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border: 1px solid #0592cc;
  z-index: -1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section-counter .icon span {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #0592cc;
}
.section-counter .text strong.number {
  font-weight: 400;
  font-size: 30px;
  color: #0592cc;
}
.section-counter .text span {
  font-weight: 400;
  font-size: 14px;
}
.section-counter .text:hover .icon span,
.section-counter .text:focus .icon span {
  color: #000;
}
.section-counter .text:hover .icon:after,
.section-counter .text:focus .icon:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #0592cc;
}
@media (max-width: 991.98px) {
  .section-counter .counter-wrap {
    margin-bottom: 40px !important;
  }
}
.section-counter .section-number {
  display: block;
  color: #fff;
}
.section-counter .section-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.section-menu {
  position: relative;
  width: 100%;
  display: block;
}
.section-menu .nav-pills p {
  margin-bottom: 0;
}
.section-menu .nav-pills .nav-link {
  border-radius: 0;
  color: #0592cc;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  border: 1px solid #0592cc;
  border-radius: 30px;
  margin: 10px 5px;
  background-color: white;
}
.section-menu .nav-pills .nav-link.active,
.section-menu .nav-pills .nav-link:hover {
  color: white;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #0592cc;
  border: 1px solid transparent;
}
.section-menu .nav-pills .nav-link.active:after,
.section-menu .nav-pills .nav-link:hover:after {
  opacity: 1;
}
@media (max-width: 767.98px) {
  .section-menu .nav-pills .nav-link.active:after,
  .section-menu .nav-pills .nav-link:hover:after {
    opacity: 0;
  }
}
@media (max-width: 767.98px) {
  .section-menu .nav-pills .nav-link {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}

.blog-entry {
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
.blog-entry .text {
  position: relative;
}
.blog-entry .text .heading {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 400;
}
.blog-entry .text .heading a {
  color: #fff;
}
.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
  color: #0592cc;
}
.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 14px;
}
.blog-entry .meta > div a {
  color: gray;
  font-size: 15px;
}
.blog-entry .meta > div a:hover {
  color: #666666;
}

.block-23 ul {
  padding: 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7);
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}

.block-6 {
  margin-bottom: 40px;
}

.block-18 .icon > span {
  font-size: 40px;
}

.block-18 .text strong {
  font-size: 30px;
}

.block-18 .text span {
  display: block;
}

.block-27 ul {
  padding: 0;
  margin: 0;
}
.block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}
.block-27 ul li a,
.block-27 ul li span {
  color: #0592cc;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #9a0b03;
}
.block-27 ul li.active a,
.block-27 ul li.active span {
  background: #0592cc;
  color: #fff;
  border: 1px solid transparent;
}

.contact-section .contact-info p span {
  color: #fff;
}

.contact-form .form-group {
  position: relative;
}

.contact-form .form-control {
  border: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  height: 58px !important;
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 13px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.contact-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.9);
}
.contact-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9);
}
.contact-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.9);
}
.contact-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9);
}
.contact-form .form-control:focus,
.contact-form .form-control:active {
  border-color: #0592cc !important;
}

.contact-form textarea.form-control {
  height: inherit !important;
}

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}
.block-21 .text .heading {
  font-size: 16px;
}
.block-21 .text .heading a {
  color: #cccccc;
}
.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  color: #0592cc;
}
.block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.block-21 .text .meta > div a {
  color: gray;
}

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.custom-pagination li {
  display: inline-block;
}
.custom-pagination .prev a,
.custom-pagination .next a {
  font-size: 20px !important;
  line-height: 38px !important;
}
.custom-pagination li a,
.custom-pagination .prev a,
.custom-pagination .next a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
}
.custom-pagination li.active a,
.custom-pagination .prev.active a,
.custom-pagination .next.active a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
  background: #0592cc;
  color: #fff;
}
.custom-pagination li.active a:hover,
.custom-pagination li.active a:focus,
.custom-pagination .prev.active a:hover,
.custom-pagination .prev.active a:focus,
.custom-pagination .next.active a:hover,
.custom-pagination .next.active a:focus {
  color: #fff;
}
.custom-pagination .prev {
  float: left;
}
.custom-pagination .next {
  float: right;
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
}
.post-info > div {
  display: inline-block;
}
.post-info > div .seperator {
  display: inline-block;
  margin: 0 10px;
  opacity: 0.5;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #b3b3b3;
  border: 1px solid #9a0b03;
  font-size: 11px;
}
.tagcloud a:hover {
  border: 1px solid #000;
}

.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  font-size: 14px;
  padding-right: 50px;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #0592cc;
  color: rgba(255, 255, 255, 0.7);
}
.search-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.7);
}
.search-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
.search-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.7);
}
.search-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
}
.sidebar-box *:last-child {
  margin-bottom: 0;
}
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style: none;
}
.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a,
.sidelink li a {
  display: block;
  color: #cccccc;
}
.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}
.categories li.active a,
.sidelink li.active a {
  color: #000;
  font-style: italic;
}

#section-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#section-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#section-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#section-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#section-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

/* Form validation */
.validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  font-weight: 600;
}

.loading {
  display: none;
  text-align: center;
  padding: 15px;
}

.loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
  background: url(../img/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  /*padding: 60px 0px;*/
}

.events::before {
  content: "";
  //background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 150px;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #ffb03b;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #ffb03b;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffb03b;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .owl-nav,
.events .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.events .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.events .owl-dot.active {
  background-color: #ffb03b !important;
}

@media (min-width: 992px) {
  .events .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Cart section
--------------------------------------------------------------*/

.cart-section .container {
  background-color: white;
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Custom elements
--------------------------------------------------------------*/
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.delete_order {
  background: #dc3545;
  width: 50px;
  /* background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 0.8px),
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) calc(50% + 0.8px),
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      #dc3545 0%,
      #dc3545 calc(50% - 0.8px),
      rgba(0, 0, 0, 1) 50%,
      #dc3545 calc(50% + 0.8px),
      #dc3545 100%
    ); */
}

.confirm_order {
  background: #28a745;
  width: 150px;
}

#menu-layout .card-text {
  color: #444444 !important;
}
